<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                <p style="font-size:large">
                K-MUG is one of the most successful technical community in India, which focus on Microsoft Technologies. Microsoft recognized the efforts made in building the community by selecting K-MUG as the Best Developer User group for Tier 2 cities as part of the Community Impact Awards for 2010. K-MUG is active community based out of Kerala which started its activities around 8 years ago and regularly conducts events across Kerala targeting both professionals and students.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
