<script>
    $(function () {
        /*
        $('img').click(function() {
            var $img = $(this);
            $('#imagepreview').attr('src', $img.attr('src'));
            $('#myModalLabel').text($img.attr('alt'));
            $('#imagemodal').modal('show');
        });
        */

        var m = $('img');
        for (var i = 0; i < m.length; i++) {
            $('<div class="item"><img id="imagepreview" src="' + m[i].src + '"><div class="carousel-caption"><h5>' + m[i].alt + '</h5></div></div>')
                .appendTo('.carousel-inner');
            $('<li data-target="#photocarousel" data-slide-to="' + i + '"></li>')
                .appendTo('.carousel-indicators')
        }

        $('.item').first().addClass('active');
        $('.carousel-indicators > li').first().addClass('active');
        $('#photocarousel').carousel();

        $('.carousel-control.left').click(function () {
            $('#photocarousel').carousel('prev');
        });

        $('.carousel-control.right').click(function () {
            $('#photocarousel').carousel('next');
        });

        $(document).keydown(function (e) {
            if (e.keyCode === 37) {
                $(".carousel-control.left").click();
                return false;
            }
            if (e.keyCode === 39) {
                $(".carousel-control.right").click();
                return false;
            }
        });

        $('img').bind('click', function (evt) {
            var m = $('img');
            for (var i = 0; i < m.length; i++) {
                if (m[i].src == evt.target.src) {
                    $('#photocarousel').carousel(i);
                    break;
                }
            }
            $("#imagemodal").modal();
        });
    });

</script>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
            </div>
            <div class="modal-body">
                <div id="photocarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators"></ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="text-align:center;"></div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="javascript:void(0)" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="javascript:void(0)" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>