<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Photo Gallery</h3>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            {% for photo in site.data.photos limit:5 %}
               <h5><a href="/gallery/#{{ photo.name | replace:' ','-'}}">{{ photo.name }}</a></h5>
            {% endfor %}
        </div>
        
        {% for photo in site.data.photos limit:5 %}
            <div id="{{ photo.name | replace:' ','-' }}"></div><br/><br/>
            <div class="col-lg-10 col-lg-offset-1">
                <h4>{{ photo.name }}</h4>
            </div>
            
            <div class="row">
                {% for img in photo.photos %}
                    <div class="col-xs-6 col-md-3">
                        <img class="img-thumbnail" style="cursor:pointer" 
                            src="{{ img.url }}" alt="{{ img.title }}" />
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>