<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Event Photos</h3>
        </div>
        {% for photo in site.data.photos limit:5 %}
            <div class="col-lg-10 col-lg-offset-1">
                <h4>{{ photo.name }}</h4>
            </div>
            
            <div class="row">
                {% for img in photo.photos %}
                    <div class="col-xs-6 col-md-3">
                        <img class="img-thumbnail" style="cursor:pointer" 
                            src="{{ img.url }}" alt="{{ img.title }}" />
                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
</section>