<!-- Spalsh screen on home page for upcoming events -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 0px 15px 0px 15px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6>K-MUG TechDay - Saturday 25 November 2017<h6>
            </div>
            <div class="modal-body">
                <a href="../events/techdaynov2017/" target="_blank">
                    <img class="img-responsive" src="../img/events/techday-nov-2017/popImage.jpg" alt="K-MUG Techday banner"/>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Spalsh screen -->
